<nz-layout>
  <nz-card nzTitle="Точки для построения">
    <div nz-row class="filters-row"
         *ngFor="let point of points;let i = index"
         [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col nzSpan="12">
        <label class="label__color_gray">X ({{i + 1}})</label>
        <input nz-input [(ngModel)]="point.x">
      </div>
      <div nz-col nzSpan="12">
        <label class="label__color_gray">Y ({{i + 1}})</label>
        <input nz-input [(ngModel)]="point.y">
      </div>
    </div>

    <button nz-button (click)="addPoint()" *ngIf="points.length < 4">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
    </button>
  </nz-card>

  <button nz-button nzType="primary"
          *ngIf="points.length === 4"
          (click)="count()">
    Рассчитать
  </button>

  <label class="res_label">{{resultStr}}</label>

  <nz-card [nzTitle]="title" *ngIf="resultStr">
    <ng-template #title>
      <label>Точки для расчета</label>
      <button nz-button nzType="primary" class="icon_btn"
              (click)="addCountPoint()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      </button>
    </ng-template>
    <div class="overflow">
      <div nz-row class="filters-row"
           *ngFor="let point of pointCounts;let i = index"
           [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col nzSpan="10">
          <label class="label__color_gray">X ({{i + 1}})</label>
          <input nz-input [(ngModel)]="point.x" (ngModelChange)="countPoint(i)">
        </div>
        <div nz-col nzSpan="10">
          <label class="label__color_gray">Y ({{i + 1}})</label>
          <input nz-input disabled [(ngModel)]="point.y">
        </div>
        <div nz-col nzSpan="4">
          <button nz-button nzType="primary" class="icon_btn"
                  (click)="deleteCountPoint(i)">
            <i nz-icon nzType="close" nzTheme="outline"></i>
          </button>
        </div>
      </div>
    </div>
  </nz-card>
</nz-layout>
